<!-- <footer class="footer mt-auto py-3">
        <p>Designed by ME</p>
    </footer> -->

    <div class="footer">
      <div class="fLists">
        <ul class="fList">
          <li class="fListItem">Countries</li>
          <li class="fListItem">Regions</li>
          <li class="fListItem">Cities</li>
          <li class="fListItem">Districts</li>
          <li class="fListItem">Airports</li>
          <li class="fListItem">Hotels</li>
        </ul>
        <ul class="fList">
          <li class="fListItem">Homes </li>
          <li class="fListItem">Apartments </li>
          <li class="fListItem">Resorts </li>
          <li class="fListItem">Villas</li>
          <li class="fListItem">Hostels</li>
          <li class="fListItem">Guest houses</li>
        </ul>
        <ul class="fList">
          <li class="fListItem">Unique places to stay </li>
          <li class="fListItem">Reviews</li>
          <li class="fListItem">Unpacked: Travel articles </li>
          <li class="fListItem">Travel communities </li>
          <li class="fListItem">Seasonal and holiday deals </li>
        </ul>
        <ul class="fList">
          <li class="fListItem">Car rental </li>
          <li class="fListItem">Flight Finder</li>
          <li class="fListItem">Restaurant reservations </li>
          <li class="fListItem">Travel Agents </li>
        </ul>
        <ul class="fList">
          <li class="fListItem">Curtomer Service</li>
          <li class="fListItem">Partner Help</li>
          <li class="fListItem">Careers</li>
          <li class="fListItem">Sustainability</li>
          <li class="fListItem">Press center</li>
          <li class="fListItem">Safety Resource Center</li>
          <li class="fListItem">Investor relations</li>
          <li class="fListItem">Terms & conditions</li>
        </ul>
      </div>
      <div class="fText">Copyright © 2022 Lamabooking.</div>
    </div>
