<div class="header">
  <div>
    <div class="headerList">
      <div class="headerListItem active">
        <!-- <FontAwesomeIcon icon={faBed} /> -->
        <span>Stays</span>
      </div>
      <div class="headerListItem">
        <!-- <FontAwesomeIcon icon={faPlane} /> -->
        <span>Flights</span>
      </div>
      <div class="headerListItem">
        <!-- <FontAwesomeIcon icon={faCar} /> -->
        <span>Car rentals</span>
      </div>
      <div class="headerListItem">
        <!-- <FontAwesomeIcon icon={faBed} /> -->
        <span>Attractions</span>
      </div>
      <div class="headerListItem">
        <!-- <FontAwesomeIcon icon={faTaxi} /> -->
        <span>Airport taxis</span>
      </div>
    </div>
    <h1 class="headerTitle">A lifetime of discounts? It's Genius.</h1>
    <p class="headerDesc">
      Get rewarded for your travels – unlock instant savings of 10% or more with
      a free Lamabooking account
    </p>
    <button class="headerBtn" routerLink="/auth/register">Sign in / Register</button>
    <!-- <div class="headerSearch">
      <div class="headerSearchItem"> -->
        <!-- <FontAwesomeIcon icon={faBed} class="headerIcon" /> -->
        <!-- <input />
      </div> -->
      <!-- <div class="headerSearchItem"> -->
        <!-- <FontAwesomeIcon icon={faCalendarDays} class="headerIcon" /> -->
        <!-- <span
          >to.endDate</span
        >
      </div> -->
      <!-- <div class="headerSearchItem"> -->
        <!-- <FontAwesomeIcon icon="{faPerson}" class="headerIcon" /> -->
        <!-- <span>adult · children . room</span> -->
        <!-- <div class="options">
          <div class="optionItem">
            <span class="optionText">Adult</span>
            <div class="optionCounter">
              <button>-</button>
              <span class="optionCounterNumber"> </span>
              <button>+</button>
            </div>
          </div>
          <div class="optionItem">
            <span class="optionText">Children</span>
            <div class="optionCounter">
              <button>-</button>
              <span class="optionCounterNumber"> </span>
              <button>+</button>
            </div>
          </div>
          <div class="optionItem">
            <span class="optionText">Room</span>
            <div class="optionCounter">
              <button>-</button>
              <span class="optionCounterNumber"> </span>
              <button>+</button>
            </div>
          </div>
        </div> 
      </div>-->
      <!-- <div class="headerSearchItem">
        <button class="headerBtn">Search</button>
      </div> -->
    </div>
  </div>
<!-- </div> -->
